*~
/*-[0-9][0-9].xml
archive.json
draft-homburg-deleg-incremental-deleg.xml
Gemfile.lock
/.gems/
*.html
/lib
/node_modules/
package-lock.json
*.pdf
*.redxml
/.refcache
report.xml
*.swp
.tags
/.targets.mk
*.txt
*.upload
/.venv/
/versioned/
/.vscode/
!requirements.txt
/site/_site/
/site/Makefile
/testbed/K*
/testbed/customer1.ideleg.net
/testbed/customer1.nsec3.ideleg.net
/testbed/customer2.ideleg.net
/testbed/customer2.nsec3.ideleg.net
/testbed/customer3.ideleg.net
/testbed/customer3.nsec3.ideleg.net
/testbed/customer4.ideleg.net
/testbed/customer4.nsec3.ideleg.net
/testbed/ideleg.net.conf
/testbed/ideleg.net
/testbed/legacy.conf
/testbed/nlnetlabs.conf
/testbed/nsec3.ideleg.net
/testbed/supporting.conf
