*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
.tags
/*-[0-9][0-9].xml
/.*.mk
/.gems/
/.refcache
/.venv/
/.vscode/
/node_modules/
/versioned/
Gemfile.lock
archive.json
package-lock.json
report.xml
!requirements.txt
/site/_site/
/site/Makefile
/testbed/K*
/testbed/customer1.ideleg.net
/testbed/customer1.nsec3.ideleg.net
/testbed/customer2.ideleg.net
/testbed/customer2.nsec3.ideleg.net
/testbed/customer3.ideleg.net
/testbed/customer3.nsec3.ideleg.net
/testbed/customer4.ideleg.net
/testbed/customer4.nsec3.ideleg.net
/testbed/ideleg.net.conf
/testbed/ideleg.net
/testbed/legacy.conf
/testbed/nlnetlabs.conf
/testbed/nsec3.ideleg.net
/testbed/supporting.conf
